@font-face {
    font-family: "Noto Sans CJK JP Regular";
    src: url(../../../../wp-includes/fonts/NotoSansCJKjp-Regular.woff);
}
@font-face {
    font-family: "Noto Sans CJK JP Medium";
    src: url(../../../../wp-includes/fonts/NotoSansCJKjp-Medium.woff);
}
@font-face {
    font-family: "Noto Sans CJK JP Bold";
    src: url(../../../../wp-includes/fonts/NotoSansCJKjp-Bold.woff);
}
@font-face {
    font-family: "Noto Sans CJK JP Light";
    src: url(../../../../wp-includes/fonts/NotoSansCJKjp-Light.woff);
}
@font-face {
    font-family: "Futura Midium";
    src: url(../../../../wp-includes/fonts/Futura.woff);
}
@font-face {
    font-family: "Roboto thin italic";
    src: url(../../../../wp-includes/fonts/RobotoCondensed-LightItalic.woff)
}

// colors
$baseColor: #ebe7e1;
$subColor: #937f65;
$fontColor: #424242;



/* Footer-Menu
------------------------------ */
#footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $baseColor;
    overflow: hidden;
    a {
        padding: 20px 0;
        border: 1px solid $subColor;
        border-bottom: none;
        font-family: "Noto Sans CJK JP Regular";
        color: $subColor;
        &:nth-child(2n+1) {
            border-left: none;
            border-right: none;
            padding-left: 25px;
        }
        &:nth-child(2n) {
            border-right: none;
            padding-left: 20px;
        }
    }
}

@media (max-width:700px) {
    #footer-menu {
        a {
            padding: calc(20px * 0.9) 0;
            &:nth-child(2n+1) {
                padding-left: calc(25px * 0.9);
            }
            &:nth-child(2n) {
                padding-left: calc(20px * 0.9);
            }
        }
    }
}
@media (max-width:630px) {
    #footer-menu {
        a {
            padding: calc(20px * 0.8) 0;
            &:nth-child(2n+1) {
                padding-left: calc(25px * 0.8);
            }
            &:nth-child(2n) {
                padding-left: calc(20px * 0.8);
            }
        }
    }
}
@media (max-width:565px) {
    #footer-menu {
        a {
            padding: calc(20px * 0.7) 0;
            &:nth-child(2n+1) {
                padding-left: calc(25px * 0.7);
            }
            &:nth-child(2n) {
                padding-left: calc(20px * 0.7);
            }
        }
    }
}
@media (max-width:500px) {
    #footer-menu {
        a {
            padding: calc(20px * 0.6) 0;
            &:nth-child(2n+1) {
                padding-left: calc(25px * 0.6);
            }
            &:nth-child(2n) {
                padding-left: calc(20px * 0.6);
            }
        }
    }
}
@media (max-width:425px) {
    #footer-menu {
        a {
            padding: calc(20px * 0.5) 0;
            &:nth-child(2n+1) {
                padding-left: calc(25px * 0.5);
            }
            &:nth-child(2n) {
                padding-left: calc(20px * 0.5);
            }
        }
    }
}

/* Fixed-Icon
------------------------------ */
.fixed-icon {
    position: fixed;
    right: 6.67%;
    bottom: 3.73%;
    display: flex;
    justify-content: space-between;
    div {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ebe7e1;
        &:nth-child(2) {
            margin-left: 20px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
    .line {
        img {
            max-width: 48.1px;
            width: 60%;
        }
    }
    .mail {
        img {
            max-width: 37.4px;
            width: 46.8%;
        }
    }
}

@media (max-width:700px) {
    .fixed-icon {
        div {
            width: calc(80px * 0.9);
            height: calc(80px * 0.9);
            &:nth-child(2) {
                margin-left: calc(20px * 0.9);
            }
        }
    }
}
@media (max-width:630px) {
    .fixed-icon {
        div {
            width: calc(80px * 0.8);
            height: calc(80px * 0.8);
            &:nth-child(2) {
                margin-left: calc(20px * 0.8);
            }
        }
    }
}
@media (max-width:565px) {
    .fixed-icon {
        div {
            width: calc(80px * 0.7);
            height: calc(80px * 0.7);
            &:nth-child(2) {
                margin-left: calc(20px * 0.7);
            }
        }
    }
}
@media (max-width:500px) {
    .fixed-icon {
        div {
            width: calc(80px * 0.6);
            height: calc(80px * 0.6);
            &:nth-child(2) {
                margin-left: calc(20px * 0.6);
            }
        }
    }
}
@media (max-width:425px) {
    .fixed-icon {
        div {
            width: calc(80px * 0.5);
            height: calc(80px * 0.5);
            &:nth-child(2) {
                margin-left: calc(20px * 0.5);
            }
        }
    }
}

/* Footer
------------------------------ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $subColor;
    height: 80px;
    text-align: center;
    font-family: "Futura Midium", sans-serif;
    color: #fff;
    overflow: hidden;
}

@media (max-width:700px) {
    footer {
        height: calc(80px * 0.9);
    }
}
@media (max-width:630px) {
    footer {
        height: calc(80px * 0.8);
    }
}
@media (max-width:565px) {
    footer {
        height: calc(80px * 0.7);
    }
}
@media (max-width:500px) {
    footer {
        height: calc(80px * 0.6);
    }
}
@media (max-width:425px) {
    footer {
        height: calc(80px * 0.5);
    }
}


.top-list-voices {
	display: flex;
	margin: -16px 0 0 0;
	flex-flow: row wrap;
	justify-content: center;
}
.top-list-voices li {
	margin: 16px 30px;
	width: 200px;
}
.top-list-voices li a {
	text-decoration: none;
	text-align: center;
}
.top-list-voices li .img {
	margin: 0 0 8px 0;
}
.top-list-voices li img {
	width: 90%;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
	box-sizing: border-box;
}
.top-list-voices li a:hover img {
	opacity: .8;
	border: 1px solid #c9a31d;
}
.top-list-voices li .name {
	line-height: 1.4;
    letter-spacing: 0px;
}
@media only screen and (max-width: 767px) {
	.top-list-voices {
		margin: -8px 0 0 -8px;
		justify-content: inherit;
	}
	.top-list-voices li {
		margin: 8px 0 0 8px;
		width: calc(33.33333% - 8px);
		font-size: 11px;
	}
	.top-list-voices li:hover img {
		opacity: 1;
		border: 2px solid #101010;
	}
}
