@use "../../global" as *;

@include mq(pc) {
  .u-sp {
    display: none !important;
  }
}

@include mq(sp) {
  .u-pc {
    display: none !important;
  }
}
@include mq(header-sp) {
  .u-header-pc {
    display: none !important;
  }
}

@include mq(header-pc) {
  .u-header-sp {
    display: none !important;
  }
}
