//_variables.scss
$ff:  "Noto Sans JP", serif; // bodyに指定するフォント
$ff-jp:  "Noto Sans JP", serif; //日本語onlyのフォント
$ff-jp2: fot-chiaro-std, sans-serif; //英語onlyのフォント
$ff-en: sofia-pro, sans-serif; //英語onlyのフォント
//===========================================
//   レイアウト (単位は不要)
//===========================================
// $pc-inner: 1040;  // pc版inner幅 
// $pc-sidePadding: 40; //pc版サイドのpadding
// $pc-inner-sum: calc($pc-inner + $pc-sidePadding * 2); 
// $pc-narrow-inner: 800; //狭いinner幅
// $pc-narrow-inner-sum: calc($pc-narrow-inner + $pc-sidePadding * 2); 
$breakpoint: 550; // ブレイクポイント (pc版カンプとsp版カンプの境界)
$sp-sidePadding: 17.5; //sp版サイドのpadding
// $pc-camp: 1440; // pc版のカンプサイズを入力
$sp-camp: 393; // sp版のカンプサイズを入力
$sp-inner: 600;
$sp-inner-sum: calc($sp-inner + $sp-sidePadding * 2);

$md-breakpoint: 900; // small版ブレイクポイント
$big-breakpoint: 1100; // small版ブレイクポイント


//z-index
$z-header: 100;
$z-drawerIcon: 102;
$z-drawer: 101;

//===========================================
//   カラー
//===========================================
$color-text: #000;
$color-grade:linear-gradient(126deg, #8D5900 31.93%, #FFB300 49.77%, #8D5900 67.62%);;

