@use "../global" as *;

html {
  @media screen and (max-width: #{px($pc-inner-sum) - 1px}) and (min-width: #{px($breakpoint)}) {
    font-size: calc(16 / #{$pc-inner-sum} * 100vw);
  }
  @media screen and (max-width: #{px($sp-camp) - 1px}) {
    font-size: calc(16 / #{$sp-camp} * 100vw);
  }
}

body {
  color: var(--color-text);
  font-family: $ff !important;
}

body:has(.p-drawer.js-show) {
  overflow: hidden;
}

[lang="en"] {
  font-family: $ff-en !important;
}

[lang="ja"] {
  font-family: $ff !important;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

// picture,
// img,
// a,
// span {
//   display: inline-block;
// }

// picture {
//   display: contents; //追加する？
// }

// video,
// img,
// svg {
//   width: 100%;
//   height: auto !important;
// }

// button {
//   font: inherit;
//   color: inherit;
//   background: transparent;
//   background: none;
//   border: none;
//   cursor: pointer;
// }

// input,
// textarea,
// select {
//   font: inherit;
// }

@media (min-width: px($breakpoint)) {
  //pcではtelかけられないように
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
