/* ==========================================================================
   Common Styles
   ========================================================================== */

html,
body {
    width: 100vw;
    overflow-x: hidden;
}
.l-footer__inner{
    width: auto !important;
}

/* トップページ以外でドロワーボタンを非表示 */
body:not(.home) .p-drawer__btn-wrap {
    display: none !important;
}
