/* ==========================================================================
   Common Styles
   ========================================================================== */

html,
body {
    width: 100vw;
    overflow-x: hidden;
}
.l-footer__inner{
    width: auto !important;
}
