@use "../../global" as *;

//アイコン ====================
.p-drawer__icon {
  z-index: 230;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rm8(56);
  height: rm8(56);
  flex-shrink: 0;
  align-self: end;
  position: relative;
  @include mq(sp) {
    width: rm(40);
    height: rm(40);
  }
}

.p-drawer__icon-img {
  transition: all 0.3s ease;
  position: absolute;
  inset: 0;

  &.--close {
    opacity: 0;
    visibility: hidden;
  }
}

.p-drawer__cta-btn {
  margin-top: rm(24);
  margin-inline: auto;
}

//メニューが開いている時 ========
.p-drawer__icon.js-show {
  .p-drawer__icon-img {
    &.--open {
      opacity: 0;
      visibility: hidden;
    }
    &.--close {
      opacity: 1;
      visibility: visible;
    }
  }
}


//線パターン
// .p-drawer__icon {
//   position: fixed;
//   z-index: $z-drawerIcon;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   top: 17px;
//   right: 20px;
//   width: 24px;
//   height: 16px;
//   @include mq(pc) {
//     display: none;
//   }
// }
// .p-drawer__icon--bar {
//   width: 100%;
//   height: 1px;
//   background: #000;
// }

// //メニューが開いている時 ========
// .p-drawer__icon.js-show {
//   .p-drawer__icon--bar:nth-of-type(1) {
//     rotate: 45deg;
//     translate: 0 7.5px;
//   }
//   .p-drawer__icon--bar:nth-of-type(2) {
//     display: none;
//   }
//   .p-drawer__icon--bar:nth-of-type(3) {
//     rotate: -45deg;
//     translate: 0 -7.5px;
//   }
// }


.p-drawer__btn {
  margin-inline: auto;
}

//ドロワーメニュー
.p-drawer {
  position: fixed;
  z-index: $z-drawer;
  overflow-y: auto;
  padding-block: rm(40);
  top: rm(87);
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: #fff;
}

.p-drawer__icon--bar {
  transition: all 0.3s ease;
}

//ドロワーの出現の動きを指定
.p-drawer {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.js-show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.p-drawer__inner {
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
}

.p-drawer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.p-drawer__list-item-details {
  // アコーディオンのアクティブ状態
  &.is-opened {
    .p-drawer__list-plus {
      &::after {
        rotate: 90deg;
      }
    }

    .p-drawer__sub-menu-wrap {
      max-height: 1000px;
    }
  }
}

.p-drawer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.8px;
  padding-inline: 35px;
  padding-block: 11px;
  @include mq(sp) {
    @include font(16, 700, 28.8, 0);
    padding-inline: rm(35);
    padding-block: rm(11);
  }
  border-bottom: 1px solid #ecebeb;
  margin-inline: auto;
  cursor: pointer;

  &.--1 {
    padding-top: 0;
  }

  transition: opacity 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.p-drawer__link-text {
  flex-basis: rm(298);
}

.p-drawer__list-arrow {
  width: rm(8);
  height: auto;
  flex-shrink: 0;
}

.p-drawer__list-plus {
  width: rm(12);
  height: rm(12);
  flex-shrink: 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #a19e9e;
    transition: rotate 0.2s ease; // アニメーション追加
  }

  &::before {
    width: 12px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 12px;
  }
}

.p-top-voice__thumbnail-splide-track {
}

.p-drawer__content {
  margin-top: rm(64);
}

.p-drawer__sub-menu-wrap {
  background-color: #f9f9f9;
  overflow: hidden;
}

.p-drawer__sub-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-drawer__sub-menu-list-item {
  // サブメニュー項目のスタイリング
}

.p-drawer__sub-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: px(4);
  padding-inline: px(35);
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;

  @include mq(sp) {
    padding-block: rm(4);
    padding-inline: rm(35);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.p-drawer__sub-list-text {
  flex-basis: rm(300);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  @include mq(sp) {
    @include font(14, 400, 25.2, 0);
  }
}

.p-drawer__sub-list-arrow {
  width: 6px;
  height: auto;
  flex-shrink: 0;
}
