@use "../../global" as *;

.p-top-flow {
  background: var(--light-pink, #ffe0e6);
  padding-top: rm(195);
}

.p-top-flow__deco-circle-top {
  bottom: initial;
  top: -2px;
}

.p-top-flow__head {
}

.p-top-flow__header {
}

.p-top-flow__content {
}

.p-top-flow__items {
}

.p-top-flow__item {
}

.p-top-flow__item-num {
}

.p-top-flow__item-img {
}

.p-top-flow__item-ttl {
}

.p-top-flow__btn {
}
