@use "../../global" as *;

.u-animated__fadeIn {
  opacity: 0;
  translate: 0 10px;
  // transition: opacity .3s ease-in-out, filter .3s ease-in-out, translate .5s ease-in-out;
  transition: opacity 0.6s ease-in-out, filter 0.3s ease-in-out, translate 1.2s var(--ease-out-quint);
  transition-delay: var(--delay, 0s); // デフォルトは0s
  @include mq(sp) {
    transition-delay: var(--delay-sp, 0s);
  }
  &.js-fadeIn {
    opacity: 1;
    translate: 0;
  }
}
