//_mixin.scss
@use "./variables" as *;

// =================================
//  メディアクエリ
// =================================
$breakpoints: (
  // 既存のブレークポイント
  "sp": "screen and (max-width: #{$breakpoint - .1px})",
  "sp-lg": "(min-width: #{$sp-inner-sum * 1px})",
  "pc": "(min-width: #{$breakpoint * 1px})",
  "lg": "(min-width: #{$pc-inner-sum * 1px})",

  //ヘッダー専用ブレークポイント
  "header-sp": "screen and (max-width: #{$breakpoint-header - .1px})",
  "header-pc": "screen and (min-width: #{$breakpoint-header * 1px})"
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//Figma の時は、こちら ===============
@mixin font($size: null, $weight: null, $height: null, $spacing: null) {
  @if $size {
    font-size: max(calc($size / 16 * 1rem), calc($size * 0.8px));
    @include mq(sp) {
      font-size: calc($size / 16 * 1rem);
    }
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $height {
    line-height: calc($height / $size);
  }
  @if $spacing {
    letter-spacing: calc($spacing / $size * 1em);
  }
}
