//Foundation
@use "foundation/reset";
@use "foundation/base";

//Layout
@use "layout/l-main";
@use "layout/l-inner";

//Component
@use "object/component/c-top-logo";

//Project
@use "object/project/p-drawer";
@use "object/project/p-footer";
@use "object/project/p-bg";
@use "object/project/p-side";
@use "object/project/p-fv";
@use "object/project/p-cta";
@use "object/project/p-about";
@use "object/project/p-clinic";
@use "object/project/p-use";
@use "object/project/p-request";
@use "object/project/p-warning";
@use "object/project/p-evaluation";
@use "object/project/p-coupon";
@use "object/project/p-menu";
@use "object/project/p-comparison";
@use "object/project/p-flow";
@use "object/project/p-voice";
@use "object/project/p-faq";

//utility
@use "object/utility/u-disp";
@use "object/utility/u-font";
@use "object/utility/u-text";
@use "object/utility/u-pointer";

