@use "../../global" as *;


//アイコン ====================
.p-drawer__icon {
  position: fixed;
  mix-blend-mode: difference;

  z-index: $z-drawerIcon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  top: 17px;
  right: 20px;
  width: 24px;
  height: 16px;
  // @include mq(pc) {
  //   display: none;
  // }
}
.p-drawer__icon--bar {
  width: 100%;
  height: 2px;
  background: #fff;
}

//メニューが開いている時 ========
.p-drawer__icon.js-show {
  mix-blend-mode: initial;
  .p-drawer__icon--bar:nth-of-type(1) {
    rotate: 45deg;
    translate: 0 7.5px;
  }
  .p-drawer__icon--bar:nth-of-type(2) {
    display: none;
  }
  .p-drawer__icon--bar:nth-of-type(3) {
    rotate: -45deg;
    translate: 0 -7.5px;
  }
}

//ドロワーメニュー
.p-drawer {
  position: fixed;
  z-index: $z-drawer;
  overflow-y: auto;
  color: #fff;
  top: 0;
  right: 0;
  width: rm(278);
  height: 100vh;
  height: 100svh;
  background: #FF4469;
  @include mq(sp) {
    width:100%;
  }
}
.p-drawer__icon--bar {
  transition: all 0.5s ease;
  @include mq(sp) {
    transition: all 0.3s ease;
    
  }
}

//ドロワーの出現の動きを指定
.p-drawer {
  translate: 101%;
  transition: translate 0.5s ease;

  &.js-show {
    translate: 0;
  }
}
.p-drawer__body {
  width: 100%;
  height: fit-content;

  padding-block: 88px 40px;
  padding-left: 34px;
}
.p-drawer__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
  li a {
    @include font(20, 600, 20, 0);
  }
}
.p-drawer__btn {
  display: inline-block;
  padding: 6px 30px;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
}