@use "../../global" as *;

.p-faq {

}

.p-faq__top {
  display: flex;
  justify-content: space-between;
}

.p-faq__top-text {

  &.--en {
    @include font(40, 800, 62, 4);
  }
  
  &.--ja {
    @include font(14, 800, 22, 1.4);
    margin-top: rm(13);
  }
}


.p-faq__content {
  margin-top: rm(20);
  display: flex;
  flex-direction: column;
  gap: rm(36);
}

.p-faq__item {
  display: flex;
  flex-direction: column;
  gap: rm(33);
}

.p-faq__question {
  @include font(14, 700, 28, 1.4);
  color: #fff;
  background-color: #444;
  padding-block: rm(8);
  padding-inline: rm(11);
  border-radius: rm(4);
  position: relative;
  overflow: visible;

}

.p-faq__question-ballon{
  position: absolute;
  width: rm(27);
  height: rm(21);
  bottom: rm(-20);
  right: rm(28);
}

.p-faq__question-sentence {

}

.p-faq__answer {
  @include font(14, 600, 28, 1.4);
  color: #fff;
  background-color: #FF4469;
  padding-block: rm(8);
  padding-left: rm(11);
  padding-right: rm(8);
  border-radius: rm(4);
  position: relative;
  overflow: visible;
}

.p-faq__answer-sentence {

}

.p-faq__answer-ballon{
  position: absolute;
  width: rm(27);
  height: rm(21);
  bottom: rm(-20);
  left: rm(28);
}