@use "../../global" as *;


.p-side__menu {
  position: fixed;
  z-index: 1;
  top: 50%;
  translate: -50% -50%;
  left: 0;
  display: none;
  transition: translate 0.5s ease;
  @include mq(md) {
    &.js-show{
      translate: calc(-50% + rm(-200)) -50%;
    }
  }
  @include mq(big) {
    &.js-show{
      translate: calc(-50% + rm(-200)) -50%;
    }
  }
  @media (min-width: 900px) {
    display: block;
    left: calc((100% - 550px) / 2);
  }
  @media (min-width: 1100px) {
    left: calc((100% - 680px) / 2);
  }
}
.p-side__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 70px; /* 140% */
  margin-bottom: 44px;
  @media (min-width: 1100px) {
    font-size: 50px;
  }
}
.p-side__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  li {
    text-align: center;
    list-style: none;
  }
  li a {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
    text-decoration: none;
  }
}

.p-side__logo{
  width: 35vw;
  height: auto;
}

.p-side__cta {
}

.p-side__cta-sentence{
  font-size: 1.5vw;
  color: #fff;

  font-weight: bold;
  font-family: $ff-jp2;
  text-align: center;
  color: #FF4469; 
}

.p-side__cta-btn {
  background-color:#FF4469;
  display: flex;
  align-items: center;
  padding-block:.8vw;
  padding-inline:1.2vw;
  width: fit-content;
  margin-inline: auto;
  border-radius: .5vw;
  gap: 1vw;
  margin-top: .8vw;
  box-shadow: 0px 0px 64px 10px #FF446966; 
}

.p-side__cta-icon {
  width: 3vw;
  height: 3vw;
}

.p-side__cta-text {
  font-size: 2.2vw;
  color: #fff;
  font-weight: bold;
  font-family: $ff-jp2;
  line-height: 150%;
  text-align: center;
}

