@use "../global" as *;

.l-inner {
  position: relative;
  width: 100%;
  max-width: px($sp-inner-sum);

  height: inherit;
  padding: 0 rm($sp-sidePadding);
  margin-inline: auto;

  @include mq(sp) {
    width: 100%;
  
  }
}

.l-inner__narrow {
  padding: 0 rm($sp-sidePadding);
  max-width: px($sp-inner);
  @include mq(sp) {
  }
}
