@use "../global" as *;

.l-main{
  position: relative;
  transition: translate 0.5s ease;
  
  @include mq(md) {
    &.js-show{
      translate: rm(-200) 0;
    }
  }
  @include mq(big) {
    &.js-show{
      translate: rm(-200) 0;
    }
  }
}

.l-main__inner {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: calc($breakpoint * 1px);
  background: #FF4469;
  margin-inline: auto;
  overflow: hidden;
  box-shadow: 0px 0px 64px 10px #FF446966; 

  @include mq(md) {
    margin-right: 0;
    margin-block: 24px;
    border-radius: 25px 25px 25px 25px;
  }
  @include mq(big) {
    margin-right: 130px;
  }
}