@use "../global" as *;

html {
  @media screen and (max-width: #{px($pc-inner-sum) - 1px}) and (min-width: #{px($breakpoint)}) {
    font-size: calc(16 / #{$pc-inner-sum} * 100vw);
  }
  @media screen and (max-width: #{px($sp-camp) - 1px}) {
    font-size: calc(16 / #{$sp-camp} * 100vw);
  }
}
